.bg-red {
  background-color: #c33c54;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.bg-blue {
  background-color: #0d1b48;
  color: white;
  padding: 4px;
  border-radius: 25px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  font-weight: 600;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.j-evenly {
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.j-center {
  display: flex;
  justify-content: center;
}

.mt-5 {
  margin-top: 25px;
}

.border-b {
  border-bottom: 1px solid;
  color: white;
}

.text-bl {
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.ml-0 {
  margin-left: 0;
}

.p-5 {
  padding: 5px;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-4 {
  margin-right: 40px;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.d-block {
  display: block;
}

.j-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.j-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-gold {
  color: gold;
  font-size: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.text-blue {
  color: #0d1b48;
}

.text-gray {
  color: gainsboro;
  font-size: 20px;
}

.text-dark {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.text-red {
  color: #c33c54 !important;
  margin-right: 8px;
}

.text-green {
  color: #3aaf85;
}

.text-aqua {
  color: #1da1f2;
}

.mt-1 {
  margin-top: 7px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.lh {
  line-height: 1.7;
}

.text-center {
  text-align: center;
}

.mt-6 {
  margin-top: 80px;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

.mr-3 {
  margin-right: 16px;
}

.text--md {
  font-size: 18px;
}

.border-r {
  border-right: 1px solid black;
}

.col-12 {
  width: 100%;
  max-width: 100%;
}

.col-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-9 {
  width: 75%;
  max-width: 75%;
}

.col-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-6 {
  width: 50%;
  max-width: 50%;
}

.col-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  width: 25%;
  max-width: 25%;
}

.col-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

@media screen and (max-width: 1130px) {
  .home__card {
    margin-top: 115px !important;
  }

  .home__main-inner-card {
    transform: translate(0px, -202px) !important;
  }
}
@media screen and (max-width: 1046px) {
  .contact__form-inp {
    margin-right: 0 !important;
    width: 80%;
    min-width: auto !important;
  }

  .contact__form-inner-inp {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .contact__form {
    width: 90% !important;
  }

  .contact__form-block {
    flex-direction: column !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
  }

  .contact__form-inner-inp {
    width: 100% !important;
    margin-top: 20px;
  }

  .contact__form-inp--sm {
    min-width: auto !important;
  }

  .contact__form-btn {
    width: 80%;
    margin-right: 0 !important;
  }

  .contact__inner-card {
    margin-top: 400px !important;
  }
}
@media screen and (max-width: 1022px) {
  .header__list, .header__inner-btn {
    display: none !important;
  }

  .header-burger {
    display: block !important;
    cursor: pointer !important;
    color: white !important;
    display: inline-block !important;
  }

  .header__inner {
    display: inline-block !important;
    float: left !important;
  }

  .header {
    align-items: center !important;
    justify-content: space-between !important;
  }

  .header__inner-bars {
    display: inline-block !important;
    float: right !important;
  }
}
@media screen and (max-width: 960px) {
  .about__card--lg {
    flex-direction: column;
    width: 80% !important;
  }

  .about__menu {
    padding-top: 550px !important;
  }
}
@media screen and (max-width: 888px) {
  .home__main-inner-card--text {
    flex-direction: column !important;
  }

  .about__inner {
    width: 100% !important;
    margin: 0 !important;
  }

  .home__title {
    font-size: 35px !important;
  }

  .home__title-3 {
    font-size: 42px !important;
  }

  .home__title--lg {
    font-size: 40px !important;
  }

  .home {
    height: 80vh !important;
  }

  .home__footer {
    flex-wrap: wrap !important;
  }
}
@media screen and (max-width: 616px) {
  .footer__inner {
    justify-content: center !important;
  }

  .footer__block {
    max-width: 280px !important;
    margin-right: 10px !important;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .contact__form {
    padding: 12px !important;
  }

  .home__title, .home2__title {
    font-size: 35px !important;
  }

  .home__title--lg {
    font-size: 40px !important;
  }

  .home__title-3 {
    font-size: 38px !important;
  }

  .home__text {
    font-size: 16px !important;
  }

  .home__main-img {
    transform: translate(0px, 0px) !important;
    margin-top: 29px;
  }

  .about__title {
    font-size: 30px !important;
    text-align: center;
  }

  .about__text {
    text-align: center;
    font-size: 17px !important;
  }

  .about__card {
    margin-right: 0 !important;
  }

  .contact__card {
    margin-right: 0 !important;
  }

  .about__inner-text {
    flex-direction: column;
    align-items: center;
  }

  .about__inner-text i {
    font-size: 36px !important;
    margin-bottom: 16px;
  }

  .about__list-item {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 560px) {
  .about__card-title {
    font-size: 25px !important;
  }

  .about__card-text {
    font-size: 16px !important;
  }

  .about__card--lg {
    width: 100% !important;
    margin: 5px !important;
  }

  .about__menu-card {
    margin-right: 0 !important;
  }

  .about__title--sm {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 497px) {
  .home__main-card {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .home__title {
    font-size: 25px !important;
  }

  .home__title-3 {
    font-size: 36px;
  }

  .home__title--lg {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 410px) {
  .about__inner-btn {
    flex-direction: column;
  }

  .about__btn {
    margin-bottom: 15px;
    margin-left: 0 !important;
    width: 80% !important;
  }
}
@media screen and (max-width: 400px) {
  .home__card {
    margin-right: 0 !important;
  }

  .home__title-3 {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 366px) {
  .footer__inner-btn {
    flex-direction: column !important;
  }

  .footer__btn {
    width: 170px !important;
  }

  .contact__form-btn {
    min-width: auto !important;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.default__btn {
  border-radius: 6px;
  border: 2px solid white;
  background-color: #0d1b48;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--red {
  background-color: #c33c54;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.default__btn--blue {
  background-color: #0d1b48;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--blue:hover {
  background-color: black;
}

.default__btn--black {
  color: #0d1b48;
  border: 1px solid #0d1b48;
  background-color: white;
  margin-right: 15px;
  cursor: pointer;
}

.default__btn:hover {
  background-color: white;
  color: #0d1b48;
}

.default__btn--red:hover {
  background-color: #c33c54;
  color: white;
  opacity: 0.9;
}

.default__btn--black:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #0d1b48;
}

.home__inner {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  color: #0d1b48;
  flex-wrap: wrap;
  height: 100vh;
}

.home__title {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 600;
}

.home__text {
  max-width: 500px;
  margin-bottom: 10px;
  font-size: 20px;
}

.home__text-italic {
  font-style: italic;
  font-weight: 600;
}

.home__img {
  width: 100%;
}

.home__inner-inp {
  display: flex;
  align-items: center;
}

.home__inp {
  border: 0;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border: 1px solid gainsboro;
  border-radius: 6px 0px 0px 6px;
  color: #0d1b48;
  border-right: 0;
  width: 100%;
  height: 68px;
}

.home__inp::placeholder {
  color: #0d1b48;
}

.home__inp-btn {
  height: 71px;
  border-radius: 0px 14px 14px 0px;
  padding: 10px;
}

.home__text--sm {
  font-size: 15px;
  font-weight: 600;
  margin-top: 25px;
}

.home__btn {
  margin-left: 0;
  margin-top: 10px;
}

.home__block {
  width: 100%;
  max-width: 550px;
}

/*# sourceMappingURL=maintense.css.map */
