.bg-red {
  background-color: #c33c54;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.bg-blue {
  background-color: #0d1b48;
  color: white;
  padding: 4px;
  border-radius: 25px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  font-weight: 600;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.j-evenly {
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.j-center {
  display: flex;
  justify-content: center;
}

.mt-5 {
  margin-top: 25px;
}

.border-b {
  border-bottom: 1px solid;
  color: white;
}

.text-bl {
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.ml-0 {
  margin-left: 0;
}

.p-5 {
  padding: 5px;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-4 {
  margin-right: 40px;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.d-block {
  display: block;
}

.j-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.j-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-gold {
  color: gold;
  font-size: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.text-blue {
  color: #0d1b48;
}

.text-gray {
  color: gainsboro;
  font-size: 20px;
}

.text-dark {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.text-red {
  color: #c33c54 !important;
  margin-right: 8px;
}

.text-green {
  color: #3aaf85;
}

.text-aqua {
  color: #1da1f2;
}

.mt-1 {
  margin-top: 7px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.lh {
  line-height: 1.7;
}

.text-center {
  text-align: center;
}

.mt-6 {
  margin-top: 80px;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

.mr-3 {
  margin-right: 16px;
}

.text--md {
  font-size: 18px;
}

.border-r {
  border-right: 1px solid black;
}

.col-12 {
  width: 100%;
  max-width: 100%;
}

.col-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-9 {
  width: 75%;
  max-width: 75%;
}

.col-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-6 {
  width: 50%;
  max-width: 50%;
}

.col-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  width: 25%;
  max-width: 25%;
}

.col-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

@media screen and (max-width: 1024px) {
  .contact__accordion-card {
    width: 700px !important;
  }
}
@media screen and (max-width: 925px) {
  .contact__footer-text {
    width: 100% !important;
    font-size: 17px !important;
  }

  .contact__footer-title {
    font-size: 35px !important;
  }

  .contact__folder-block {
    max-width: 400px !important;
  }

  .about__map-inner, .about__dashboard-inner {
    flex-direction: column !important;
    display: flex !important;
  }
}
@media screen and (max-width: 900px) {
  .header__inner {
    display: none !important;
  }

  .header-burger {
    display: block !important;
  }
}
@media screen and (max-width: 836px) {
  .home__footer {
    margin-top: 20px !important;
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 760px) {
  .contact__folder-inner {
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .contact__accordion-card {
    width: 600px !important;
  }
}
@media screen and (max-width: 670px) {
  .contact__accordion-card {
    width: 500px !important;
  }

  .about__map-img, .about__dashboard-img {
    max-width: 400px !important;
  }
}
@media screen and (max-width: 614px) {
  .footer__inner {
    justify-content: center !important;
  }

  .footer__block {
    max-width: 280px !important;
    margin-right: 10px !important;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .contact__accordion-card {
    max-width: 400px;
  }
}
@media screen and (max-width: 555px) {
  .contact__accordion-card {
    max-width: 380px;
  }

  .about__map-text {
    max-width: 350px !important;
  }

  .about__map-img, .about__dashboard-img {
    max-width: 300px !important;
    margin-right: 0 !important;
  }

  .contact__accordion-card {
    max-width: 300px !important;
  }

  .footer__block {
    margin-bottom: 30px !important;
  }

  .about__dashboard-img {
    margin-left: 0 !important;
  }

  .contact__footer-card {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 400px) {
  .about__dashboard-img {
    margin-top: 20px !important;
  }

  .contact__card {
    margin-right: 0 !important;
  }
}
@media screen and (max-width: 380px) {
  .contact__accordion-card {
    max-width: 280px !important;
  }

  .about__map-inner-btn {
    display: flex;
    flex-direction: column;
  }

  .about__map-btn {
    margin-top: 15px !important;
    margin-left: 0 !important;
    margin-right: 20px !important;
  }

  .about__dashboard-img, .about__map-img {
    max-width: 280px !important;
  }

  .footer__inner-btn {
    flex-direction: column !important;
    justify-content: flex-start;
  }

  .footer__btn {
    width: 70% !important;
  }

  .contact__accordion-card {
    max-width: 100px !important;
  }

  .about__map-text {
    max-width: 200px !important;
  }

  .about__dashboard-img, .about__map-img {
    max-width: 200px !important;
  }

  .default__btn--red {
    margin-top: 15px;
  }

  .about__card {
    margin-right: 0 !important;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #0d1b48;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-burger {
  color: white;
  font-size: 35px;
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list-item {
  margin-right: 40px;
  display: flex;
}

.header__list-link {
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.header__list-item:hover .header__menu {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50px;
}

.home__menu::before * {
  z-index: 9;
}

.header__menu {
  display: none;
  align-items: center;
}

.header__menu-title {
  margin-right: 30px;
}

.header__menu-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header__menu-link {
  color: gray;
}

.header__menu-link:hover {
  color: #c33c54;
}

.default__btn {
  border-radius: 6px;
  border: 2px solid white;
  background-color: #0d1b48;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--red {
  background-color: #c33c54;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
}

.default__btn--blue {
  background-color: #0d1b48;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--blue:hover {
  background-color: black;
}

.default__btn--black {
  color: #0d1b48;
  border: 1px solid #0d1b48;
  background-color: white;
  margin-right: 15px;
  cursor: pointer;
}

.default__btn:hover {
  background-color: white;
  color: #0d1b48;
}

.default__btn--red:hover {
  background-color: #c33c54;
  color: white;
  opacity: 0.9;
}

.default__btn--black:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #0d1b48;
}

.home {
  color: white;
  padding-top: 30px;
  margin-bottom: 200px;
  background-color: #0d1b48;
  height: 650px;
}

.home__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__logo {
  max-width: 260px;
  padding-top: 30px;
}

.home__title {
  font-weight: 100;
  margin-bottom: 60px;
}

.home__link {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.home__logo-sm {
  max-width: 30px;
  margin-top: 80px;
}

.home__text {
  max-width: 500px;
  font-weight: 100;
  padding-top: 250px;
  line-height: 2;
  color: gray;
  font-size: 20px;
}

.home__img {
  width: 80%;
  transform: translateY(-330px);
  margin: 0 auto !important;
  display: flex;
}

.home__footer {
  padding: 50px;
  padding-bottom: 400px;
  clip-path: ellipse(750px 300px at 50% 10%);
  background-color: #0d1b48;
  margin-top: 100px;
}

.about {
  position: relative;
  bottom: 0;
  background-color: lightgray;
  padding-top: 60px;
}

.about__inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.about__title {
  font-size: 45px;
  margin-bottom: 0;
}

.about__text {
  font-size: 20px;
  max-width: 600px;
  color: gray;
}

.about__card {
  margin-right: 30px;
  max-width: 250px;
  border-radius: 6px;
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}

.about__card:hover .about__card-body {
  display: block;
}

.about__card-body {
  text-align: center;
  overflow: 0.1;
  background-color: rgba(13, 27, 72, 0.85);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 5px;
  display: none;
  max-width: 250px;
  width: 100%;
  position: absolute;
  font-size: 18px;
  font-weight: 600;
}

.about__card-img {
  max-width: 250px;
  border-radius: 6px;
}

.about__inner-card-title {
  font-size: 40px;
  font-weight: 600;
  text-align: left;
}

.about__menu {
  background-color: white;
}

.about__menu-card {
  text-align: center;
  padding-top: 60px;
  margin-left: 60px;
  padding-bottom: 60px;
}

.about__menu-card-icon {
  color: #c33c54;
  box-shadow: 2px 2px 10px gray;
  border-radius: 50%;
  font-size: 40px;
  height: 100px;
  width: 100%;
  line-height: 2.2;
  max-width: 100px;
}

.about__menu-card-title {
  font-size: 35px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 0;
}

.about__menu-card-text {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.about__map, .about__dashboard {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f9fe;
}

.about__map-inner, .about__dashboard-inner {
  display: flex;
  justify-content: space-between;
}

.about__map-img {
  max-width: 450px;
  margin-right: 100px;
}

.about__dashboard-img {
  max-width: 450px;
  margin-left: 100px;
}

.about__map-title {
  font-size: 40px;
  margin-bottom: 0;
}

.about__map-text {
  max-width: 500px;
  line-height: 2;
}

.contact__inner {
  background-color: #0d1b48;
  color: white;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}

.contact__text {
  max-width: 440px;
  margin: auto;
  margin-top: 20px;
  line-height: 2;
}

.contact__card {
  background-color: white;
  color: black;
  border-radius: 6px;
  max-width: 240px;
  margin-right: 30px;
  padding-top: 50px;
  height: 260px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.contact__card-icon {
  color: #c33c54;
  font-size: 50px;
}

.contact__card-title {
  margin-top: 14px;
}

.contact__card-text {
  max-width: 170px;
  margin: auto;
  line-height: 2;
  margin-top: 0;
}

.contact__folder {
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact__folder-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact__folder-title {
  font-size: 45px;
  text-align: center;
}

.contact__folder-text {
  max-width: 600px;
  text-align: center;
  margin: auto;
  font-size: 18px;
  line-height: 2;
}

.contact__folder-block {
  max-width: 500px;
}

.contact__folder-list-link {
  color: #424767;
  line-height: 2;
  font-size: 22px;
}

.contact__folder-list-link--html {
  color: #c33c54;
}

.contact__folder-list-link--js {
  color: gold;
}

.contact__folder-list-link--blue {
  color: blue;
}

.contact__folder-block-text {
  line-height: 2;
}

.contact__card--lg {
  background-color: white;
  color: #0d1b48;
  border-radius: 6px;
  padding: 15px;
  text-align: left;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact__card--lg-text {
  margin: 0;
  max-width: 300px;
  line-height: 1.5;
  color: #c33c54;
}

.contact__card--lg-title {
  margin-bottom: 5px;
}

.contact__accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
}

.contact__accordion-inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border: 2px solid gainsboro;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 100%;
}

.contact__accordion-card {
  width: 900px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 15px;
}

.contact__accordion-card:hover {
  background-color: #f5f9fe;
}

.contact__accordion-card:hover .contact__accordion-card-body {
  display: block;
}

.contact__accordion-card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.contact__accordion-card-title {
  color: black;
}

.contact__accordion-title {
  text-align: center;
  font-size: 40px;
}

.contact__accordion-card-body {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
}

.contact__accordion-text {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact__footer {
  background-color: #f5f9fe;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__footer-card {
  background-color: white;
  padding: 25px;
  border-radius: 6px;
  margin-left: 35px;
  margin-top: 80px;
  max-width: 300px;
  width: 100%;
}

.contact__footer-card-icon {
  display: flex;
}

.contact__footer-card-icon-title {
  font-size: 55px;
  font-weight: 600;
  margin: 0;
}

.contact__footer-card-icon-span {
  font-size: 24px;
  font-weight: 600;
}

.contact__footer-card-title {
  margin-top: 5px;
}

.contact__footer-icon {
  color: green;
  margin-right: 5px;
}

.contact__footer-icon--red {
  color: #be1f03;
  margin-right: 5px;
}

.contact__footer-card-text {
  margin-bottom: 30px;
  line-height: 1.8;
}

.contact__footer-title {
  text-align: center;
  font-size: 40px;
}

.contact__footer-text {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.footer {
  background-color: #0d1b48;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer__logo {
  max-width: 150px;
  width: 100%;
  margin-right: 40px;
}

.footer__btn {
  display: flex;
  background-color: white;
  border-radius: 6px;
  border: 0;
  color: #0d1b48;
  margin-bottom: 15px;
  width: 300px;
  margin-right: 15px;
}

.footer__btn:hover {
  opacity: 0.8;
}

.footer__btn-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0d1b48;
  font-family: "Poppins", sans-serif;
}

.footer__btn-icon {
  font-size: 40px;
  margin-right: 10px;
}

.footer__btn-text--lg {
  font-size: 16px;
  white-space: nowrap;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.footer__text {
  max-width: 280px;
  line-height: 2;
}

.footer__list-item {
  color: white;
}

.footer__list-item:hover {
  color: #c33c54;
}

.footer__footer {
  text-align: center;
  margin-top: 40px;
}

.footer__inner-btn {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
