.bg-red {
  background-color: #c33c54;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.bg-blue {
  background-color: #0d1b48;
  color: white;
  padding: 4px;
  border-radius: 25px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  font-weight: 600;
}

.f-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
}

.j-evenly {
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.j-center {
  display: flex;
  justify-content: center;
}

.mt-5 {
  margin-top: 25px;
}

.border-b {
  border-bottom: 1px solid;
  color: white;
}

.text-bl {
  color: black;
  font-size: 22px;
  font-weight: 600;
}

.ml-0 {
  margin-left: 0;
}

.p-5 {
  padding: 5px;
}

.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-2 {
  margin-top: 20px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-4 {
  margin-right: 40px;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.d-block {
  display: block;
}

.j-beetwen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.j-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-gold {
  color: gold;
  font-size: 20px;
}

.mb-2 {
  margin-bottom: 40px;
}

.text-blue {
  color: #0d1b48;
}

.text-gray {
  color: gainsboro;
  font-size: 20px;
}

.text-dark {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.text-red {
  color: #c33c54 !important;
  margin-right: 8px;
}

.text-green {
  color: #3aaf85;
}

.text-aqua {
  color: #1da1f2;
}

.mt-1 {
  margin-top: 7px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mt-3 {
  margin-top: 10px;
}

.lh {
  line-height: 1.7;
}

.text-center {
  text-align: center;
}

.mt-6 {
  margin-top: 80px;
}

.mt-4 {
  margin-top: 30px;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

.mr-3 {
  margin-right: 16px;
}

.text--md {
  font-size: 18px;
}

.border-r {
  border-right: 1px solid black;
}

.col-12 {
  width: 100%;
  max-width: 100%;
}

.col-11 {
  width: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-10 {
  width: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-9 {
  width: 75%;
  max-width: 75%;
}

.col-8 {
  width: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-7 {
  width: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-6 {
  width: 50%;
  max-width: 50%;
}

.col-5 {
  width: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-4 {
  width: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-3 {
  width: 25%;
  max-width: 25%;
}

.col-2 {
  width: 16.6666666667%;
  max-width: 16.6666666667%;
}

@media screen and (max-width: 1250px) {
  .about {
    margin-top: 350px !important;
  }

  .home__inner-card {
    transform: translate(0px, 40px) !important;
  }
}
@media screen and (max-width: 1005px) {
  .home__form-btn {
    bottom: 50% !important;
    right: 15% !important;
  }

  .home__title {
    font-size: 40px !important;
  }

  .home__text {
    font-size: 18px !important;
  }

  .header__list, .header__inner-btn {
    display: none !important;
  }

  .header-burger {
    display: block !important;
    cursor: pointer !important;
    color: white !important;
    display: inline-block !important;
  }

  .header__inner {
    display: inline-block !important;
    float: left !important;
  }

  .header {
    align-items: center !important;
    justify-content: space-between !important;
  }

  .header__inner-bars {
    display: inline-block !important;
    float: right !important;
  }
}
@media screen and (max-width: 917px) {
  .about__card-title {
    font-size: 22px !important;
  }

  .about__card-text {
    font-size: 17px !important;
  }
}
@media screen and (max-width: 749px) {
  .home__form-btn {
    bottom: 53% !important;
  }

  .home__text {
    font-size: 16px !important;
  }

  .home__title {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 627px) {
  .home__inner {
    height: 140vh !important;
  }

  .home__form-btn {
    bottom: 48% !important;
  }

  .footer__inner {
    justify-content: center !important;
  }

  .footer__block {
    max-width: 280px !important;
    margin-right: 10px !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .home__form-btn {
    bottom: 41% !important;
  }

  .home__inp {
    font-size: 16px !important;
  }

  .about__card {
    width: 90% !important;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #0d1b48;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-burger {
  color: white;
  font-size: 35px;
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list-item {
  margin-right: 40px;
  display: flex;
}

.header__list-link {
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.header__list-item:hover .header__menu {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 50px;
}

.home__menu::before * {
  z-index: 9;
}

.header__menu {
  display: none;
  align-items: center;
}

.header__menu-title {
  margin-right: 30px;
}

.header__menu-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.header__menu-link {
  color: gray;
}

.header__menu-link:hover {
  color: #c33c54;
}

.default__btn {
  border-radius: 6px;
  border: 2px solid white;
  background-color: #0d1b48;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--red {
  background-color: #c33c54;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
}

.default__btn--blue {
  background-color: #0d1b48;
  color: white;
  border-radius: 6px;
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.default__btn--blue:hover {
  background-color: black;
}

.default__btn--black {
  color: #0d1b48;
  border: 1px solid #0d1b48;
  background-color: white;
  margin-right: 15px;
  cursor: pointer;
}

.default__btn:hover {
  background-color: white;
  color: #0d1b48;
}

.default__btn--red:hover {
  background-color: #c33c54;
  color: white;
  opacity: 0.9;
}

.default__btn--black:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #0d1b48;
}

.footer__logo {
  max-width: 150px;
  width: 100%;
  margin-right: 40px;
}

.home {
  color: white;
  background-color: #0d1b48;
  padding-top: 70px;
}

.home__title {
  margin-top: 0;
  text-align: center;
  font-size: 47px;
  margin-bottom: 0;
}

.home__text {
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  margin: auto;
  margin-top: 15px;
}

.home__inner {
  height: 75vh;
}

.home__form {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.home__inp {
  padding: 18px;
  width: 70%;
  border-radius: 0px 30px 30px 0px;
  border: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.home__form-search {
  background-color: white;
  border: 0;
  border-radius: 30px 0px 0px 30px;
  padding-left: 20px;
  color: gray;
  font-size: 16px;
}

.home__form-btn {
  border-radius: 26px;
  position: absolute;
  right: 19%;
  bottom: 40%;
}

.home__inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  transform: translate(0px, 70px);
}

.home__card {
  background-color: white;
  border-radius: 6px;
  padding: 30px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  text-align: center;
  margin-right: 30px;
  box-shadow: 0px 0px 20px #444444;
  margin-bottom: 30px;
}

.home__card:hover {
  background-color: #f5fef9;
}

.home__card-icon {
  color: #c33c54;
  font-size: 36px;
  background-color: rgba(195, 60, 84, 0.1);
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  line-height: 1.8;
}

.home__card-title {
  color: #0d1b48;
  margin-top: 20px;
}

.about {
  position: relative;
  margin-top: 150px;
}

.about__title {
  margin-top: 20px;
}

.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.about__card {
  border-radius: 6px;
  width: 75%;
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 20px gainsboro;
  margin-top: 20px;
}

.about__card:hover {
  background-color: #f5fef9;
}

.about__card-title {
  color: black;
  margin-bottom: 12px;
}

.about__card-text {
  font-size: 20px;
  color: #303030;
}

.about__card-footer {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.about__card-img {
  width: 100%;
  max-width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.about__card-footer-text {
  font-size: 14px;
  color: #303030;
}

.footer {
  background-color: #0d1b48;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer__logo {
  max-width: 150px;
  width: 100%;
  margin-right: 40px;
}

.footer__btn {
  display: flex;
  background-color: white;
  border-radius: 6px;
  border: 0;
  color: #0d1b48;
  margin-bottom: 15px;
  width: 300px;
  margin-right: 15px;
}

.footer__btn:hover {
  opacity: 0.8;
}

.footer__btn-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0d1b48;
  font-family: "Poppins", sans-serif;
}

.footer__btn-icon {
  font-size: 40px;
  margin-right: 10px;
}

.footer__btn-text--lg {
  font-size: 16px;
  white-space: nowrap;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.footer__text {
  max-width: 280px;
  line-height: 2;
}

.footer__list-item {
  color: white;
}

.footer__list-item:hover {
  color: #c33c54;
}

.footer__footer {
  text-align: center;
  margin-top: 40px;
}

.footer__inner-btn {
  display: flex;
}

.home__logo-sm {
  max-width: 30px;
  margin-top: 80px;
}

.home__link {
  margin-top: 10px;
  color: white;
  font-size: 16px;
}

.about__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5fef9;
  margin-top: 80px;
  padding: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  line-height: 2;
}

.about__footer-link {
  color: #c33c54;
  font-size: 24px;
}

/*# sourceMappingURL=support.css.map */
