@media screen and(max-width:1020px) {
      .header__list, .header__inner-btn {
        display: none !important;
    }
    .header-burger {
        display: block !important;
        cursor: pointer !important;
        color: black !important;
        display: inline-block !important;
    }
    .header__inner {
        display: inline-block !important;
        float: left !important;
    }
    .header__inner-bars {
        display: inline-block !important;
        float: right !important;
    }
}
@media screen and(max-width:616px) {
    .footer__inner {
        justify-content: center !important;
    }
    .footer__block {
        max-width: 280px !important;
        margin-right: 10px !important;
        width: 100% !important;
        margin-bottom: 20px;
    }
    .about__card {
        margin-right: 0 !important;
        max-width: 450px !important;
    }
    .home__title--sm {
        font-size: 30px !important;
    }
    .home__text {
        font-size: 19px !important;
    }
    .home__title {
        font-size: 35px !important;
    }
    .about__footer-icon {
        font-size: 35px !important;
    }
    .home__card {
        margin-left: 0 !important;
    }
}
@media screen and(max-width:380px) {
    .footer__inner-btn {
        flex-direction: column !important;
    }
    .footer__btn {
        width: 170px !important;
    }
}