@import '_variables.scss';
@import '_responsivel.scss';
@import '_loop.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f9fe;
    color: $blue;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-burger {
    color: $blue;
    font-size: 35px;
    display: none;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-right: 40px;
    display: flex;
}
.header__list-link {
    color: $blue;
    font-size: 17px;
    font-weight: 600;
}
.header__list-item:hover .header__menu {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50px;
}
.header__menu {
    display: none;
    align-items: center;
}
.header__menu-title {
    margin-right: 30px;
}
.header__menu-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__menu-link {
    color: gray;
}
.header__menu-link:hover {
    color: $red;
}
.default__btn {
    border-radius: 6px;
    border: 2px solid white;
    background-color: $blue;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--red {
  background-color: $red;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 17px;
  font-weight: 600;
}
.default__btn--blue {
    background-color: $blue;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--blue:hover {
    background-color: black;
}
.default__btn--black {
    color: $blue;
    border: 1px solid $blue;
    background-color: white;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.default__btn:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
}
.default__btn--red:hover {
    background-color: $red;
    color: white;
    opacity: 0.9;
}
.default__btn--black:hover {
    color: $wht;
    border: 1px solid $wht;
    background-color: $blue;
}   
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.home {
    background-color: #f5f9fe;
    padding-top: 100px;
}
.home__title {
    margin-top: 0;
    font-size: 42px;
}
.home__text {
    font-size: 21px;
    line-height: 1.8;
}
.home__form {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
}
.home__inner-inp {
    display: flex;
    align-items: center;
}
.home__form-inp {
    padding: 10px;
    border-radius: 0 6px 6px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    border: 2px solid gainsboro;
    color: #4e5079;
    width: 100%;
}
#home__select {
    padding: 10px;
    border-radius: 0 6px 6px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    border: 2px solid gainsboro;
    color: #4e5079;
}
.home__form-btn {
    padding: 11.5px;
    font-size: 22px;
    margin: 0;
    background-color: white;
    border: 2px solid gainsboro;
    border-right: 0;
    color: #4e5079;
    border-radius: 6px 0 0 6px;
}
.home__form-button {
    min-width: 240px;
    padding: 14px;
    width: 100%;
}
.home__inner {
    display: flex;
}
.home__block {
    width: 40%;
}
.home__block--lg {
    width: 60%;
}
.about__cards-card {
    width: 100%;
    max-width: 350px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    margin-top: 25px;
    height: 550px;
}
.about__cards-card-img {
    width: 100%;
}
.about__card-footer {
    background-color: #f5f9fe;
    border-top: 1px solid gainsboro;
    margin-top: 20px;
}
.about__cards-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about__cards-title {
    margin-top: 60px;
}
.home__slider {
    color: black;
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
}
.home__slider-item {
    background-color: white;
    margin: 10px;
}
.slick-next:before {
    color: black;
    font-size: 40px;
}
.slick-prev:before {
    color: black;
    font-size: 40px;
}
.about__gallery-inner-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about__gallery {
    padding-top: 80px;
}
.about__gallery-title {
    margin-left: 30px;
    font-size: 28px;
}
.about__gallery-card {
    width: 230px;
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
    position: relative;
    height: 420px;
    background-image: url(../img/newyork.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 2s ease-in-out;
}
.about__gallery-card::before {
        position: absolute;
        content: "";
        background: #0d1b48;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        opacity: .8;
        z-index: 0;
        border-radius: 6px;
}
.about__gallery-card *{
    position: relative;
    z-index: 9;
}
.about__gallery-card:hover::before {
    background-color: transparent;
    transition: .2s;
}
.about__gallery-card--paris {
    background-image: url(../img/paris.jpg);
}
.about__gallery-card--london {
    background-image: url(../img/london.jpg);
}
.about__gallery-card--tokyo {
    background-image: url(../img/tokyo.jpg);
}
.about__gallery-card--lg {
    width: 380px;
    max-width: 100%;
    height: 430px;
    margin-bottom: 14px;
}
.about__gallery-card--sm {
    width: 280px;
    max-width: 100%;
    height: 206px;
    margin-bottom: 14px;
}
.about__gallery-card--xsm {
    width: 200px;
    max-width: 100%;
    height: 430px;
    margin-bottom: 14px;
}
.about__gallery-card--md {
    width: 290px;
    max-width: 100%;
    height: 430px;
    margin-bottom: 14px;
}

