@import '_variables.scss';
@import '_responsivel3.scss';
@import '_loop.scss';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: $blue;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-burger {
    color: $blue;
    font-size: 35px;
    display: none;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-right: 40px;
    display: flex;
}
.header__list-link {
    color: $blue;
    font-size: 17px;
    font-weight: 600;
}
.header__list-item:hover .header__menu {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50px;
}
.header__menu {
    display: none;
    align-items: center;
}
.header__menu-title {
    margin-right: 30px;
}
.header__menu-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__menu-link {
    color: gray;
}
.header__menu-link:hover {
    color: $red;
}
.default__btn {
    border-radius: 6px;
    border: 2px solid white;
    background-color: $blue;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--red {
  background-color: $red;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 17px;
  font-weight: 600;
}
.default__btn--blue {
    background-color: $blue;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--blue:hover {
    background-color: black;
}
.default__btn--black {
    color: $blue;
    border: 1px solid $blue;
    background-color: white;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.default__btn:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
}
.default__btn--red:hover {
    background-color: $red;
    color: white;
    opacity: 0.9;
}
.default__btn--black:hover {
    color: $wht;
    border: 1px solid $wht;
    background-color: $blue;
}   
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.home {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) , url(../img/hero-2.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 83%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0px 0px 20px gainsboro;
}
.home__title {
    font-size: 37px;
}
.home__form {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.home__inner-inp {
    display: flex;
}
.home__form-inp {
    padding: 10px;
    border-radius: 0 6px 6px 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    border: 2px solid gainsboro;
    min-width: 230px;
    color: #4e5079;
    margin-right: 10px;
}
.home__logo--sm {
    max-width: 30px;
    margin-top: 80px;
}
.home__link {
    margin-top: 10px;
    color: white;
    font-size: 16px;
}
.home__form-btn {
    padding: 12px;
    font-size: 22px;
    margin: 0;
    background-color: white;
    border: 2px solid gainsboro;
    border-right: 0;
    color: #4e5079;
    border-radius: 6px 0 0 6px;
}
.home__form-button {
    min-width: 100px;
    padding: 10px;
    font-size: 24px;
}
.about {
    margin-top: 100px;
}
.about__inner-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.about__card {
    width: 100%;
    max-width: 520px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    padding: 12px;
    height: 280px;
    color: black;
    position: relative;
    margin-bottom: 30px;
}
.about__card-img {
    width: 100%;
    height: 280px;
    max-width: 180px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 60px;
}
.about__card-img--m {
    width: 100%;
    height: 280px;
    max-width: 180px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 40px;
}
.about__card--m {
    margin-right: 50px;
}
.about__card--m2 {
    margin-right: 95px;
}
.about__gallery-inner-card {
    display: flex;
    padding-top: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.about__gallery-title {
    margin-left: 30px;
    font-size: 28px;
    margin-top: 100px;
}
.about__gallery-card {
    max-width: 100%;
    width: 380px;
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
    height: 220px;
    background-image: url(../img/photo-shoots.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 2s ease-in-out;
    margin-right: 20px;
}
.about__gallery-card::before {
        position: absolute;
        content: "";
        background: #0d1b48;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        opacity: .8;
        z-index: 0;
        border-radius: 6px;
}
.about__gallery-card *{
    position: relative;
    z-index: 9;
}
.about__gallery-card:hover::before {
    background-color: transparent;
    transition: .2s;
}
.about__gallery-card--meeting {
    background-image: url(../img/meeting.jpg);
    background-size: cover;
    background-position-y: center;
}
.about__gallery-card--workshop {
    background-image: url(../img/workshop.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
}
.about__gallery-card--class {
    background-image: url(../img/classroom.jpg);
    background-size: cover;
    background-position-y: center;
}
.about__gallery-card--loft {
    background-image: url(../img/loft.jpg);
    background-size: cover;
    background-position-y: center;
}
.about__gallery-card--roof {
    background-image: url(../img/loft.jpg);
    background-size: cover;
    background-position-y: center;
}
.contact {
    margin-top: 60px;
    background-color: #f5f9fe;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact__inner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.contact__inner--reverse {
    flex-direction: row-reverse;
    margin-top: 40x;
}
.contact__block--lg {
    width: 60%;
    margin-right: 60px;
    margin-top: 80px;
}
.contact__block {
    width: 40%;
    margin-top: 80px;
    margin-left: 60px;
}
.contact__icon {
    font-size: 35px;
    margin-right: 20px;
    margin-top: 20px;
}
.contact__block-card-title {
    margin-bottom: 0;
    font-size: 22px;
}
.contact__block-card {
    width: 100%;
    max-width: 320px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}
.contact__block-card-text {
    margin-top: 8px;
    line-height: 1.8;
}
.contact__title {
    font-size: 40px;
    text-align: center;
}
.contact__text {
    text-align: center;
    font-size: 22px;
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}
.contact__slider {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 80px;
}
.contact__slider-item {
    background-color: white;
    height: auto;
    width: 100%;
    max-width: 260px;
    padding: 35px;
    text-align: center;
    height: 340px;
    margin: 15px;
    border-radius: 6px;
    border: 1px solid gainsboro;
}
.contact__slider-item * {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__slider-icon {
    width: 100%;
    max-width: 180px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contact__slider-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 44px;
}
.contact__slider-text {
    padding-top: 20px;
    padding-bottom: 0px;
}
.slick-next {
    right: 10px;
}
.slick-prev {
    left: -10px;
    z-index: 9;
}
.slick-next:before {
    color: black;
    font-size: 40px;
    right: -3px;
}
.slick-prev:before {
    color: black;
    font-size: 40px;
    z-index: 9;
}
.contact__cards-inner {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.contact__cards-card {
    width: 100%;
    max-width: 300px;
    margin-left: 80px;
    span {
        font-size: 16px;
    }
}
.contact__cards-card--sm {
    width: 100%;
    max-width: 300px;
    margin-top: 60px;
}
.contact__cards-card-title {
    margin-bottom: 0;
}
.contact__cards-card-title--sm {
    margin-bottom: 0;
    font-size: 18px;
}
hr {
    margin: 0;
}
.contact__cards-card-inner-title {
    display: flex;
    align-items: baseline;
    font-size: 40px;
    height: 130px;
}
.contact__footer-img {
    width: 100%;
}
.contact__footer-block {
    width: 60%;
    color: $blue;
}
.contact__footer-block--sm {
    width: 40%;
}
.contact__footer-text {
    max-width: 320px;
    font-size: 20px;
    color: $blue;
    font-weight: 600;
    line-height: 1.8;
}
.contact__footer {
    width: 85%;
    margin: auto;
    border-radius: 6px;
    padding: 20px;
    background-color: white;
    border: 2px solid gainsboro;
    transform: translate(0px, 200px);
}
.footer {
    background-color: $blue;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-top: 300px;
}
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.footer__btn {
    display: flex;
    background-color: white;
    border-radius: 6px;
    border: 0;
    color: $blue;
    margin-bottom: 15px;
    width: 300px;
    margin-right: 15px;
}
.footer__btn:hover {
    opacity: 0.8;
}
.footer__btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue;
    font-family: 'Poppins', sans-serif;
}
.footer__btn-icon {
    font-size: 40px;
    margin-right: 10px;
}
.footer__btn-text--lg {
    font-size: 16px;
    white-space: nowrap;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 2;
}
.footer__text {
    max-width: 280px;
    line-height: 2;
}
.footer__list-item {
    color: white;
}
.footer__list-item:hover {
    color: $red;
}
.footer__footer {
    text-align: center;
    margin-top: 40px;
}
.footer__inner-btn {
    display: flex;
}