@import '_variables.scss';
@import '_responsivet.scss';
@import '_loop.scss';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f9fe;
    color: $blue;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-burger {
    color: $blue;
    font-size: 35px;
    display: none;
    color: $blue !important ;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-right: 40px;
    display: flex;
}
.header__list-link {
    color: $blue;
    font-size: 17px;
    font-weight: 600;
}
.header__list-item:hover .header__menu {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50px;
}
.header__menu {
    display: none;
    align-items: center;
}
.header__menu-title {
    margin-right: 30px;
}
.header__menu-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__menu-link {
    color: gray;
}
.header__menu-link:hover {
    color: $red;
}
.default__btn {
    border-radius: 6px;
    border: 2px solid white;
    background-color: $blue;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--red {
  background-color: $red;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.default__btn--blue {
    background-color: $blue;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--blue:hover {
    background-color: black;
}
.default__btn--black {
    color: $blue;
    border: 1px solid $blue;
    background-color: white;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.default__btn:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
}
.default__btn--red:hover {
    background-color: $red;
    color: white;
    opacity: 0.9;
}
.default__btn--black:hover {
    color: $wht;
    border: 1px solid $wht;
    background-color: $blue;
}   
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.home {
    background-color: #f5f9fe;
    padding-top: 60px;
}
.home__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home__block--sm {
    width: 100%;
    max-width: 320px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    text-align: center;
    color: $blue;
}
.home__block-img {
    width: 100%;
    max-width: 120px;
    border-radius: 50%;
    margin: auto;
}
.home__block-title {
    margin-bottom: 10px;
    margin-top: 10px;
}
.home__block-link {
    color: $blue;
    font-size: 16px;
    font-weight: 600;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(230, 230, 230);
}
.home__block--lg {
    width: 100%;
    max-width: 780px;
}
.home__block-inner-card {
    display: flex;
    align-items: center;
    width: 100%;
}
.home__block-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gainsboro;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 20px;
}
.home__block-card-icon {
    background-color: rgba(13,27,72,.1);
    color: $blue;
    padding: 20px;
    font-size: 38px;
    border-radius: 50%;
    margin-right: 15px;
}
.home__block-card-subtitle {
    font-weight: 400;
    margin-bottom: 5px;
}
.home__block-card-title {
    font-size: 30px;
    color: $blue;
    margin-bottom: 8px;
}
.home__block-card-text {
    font-size: 14px;
}