@import '_variables.scss';
@import '_responsivet.scss';
@import '_loop.scss';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-burger {
    color: white;
    font-size: 35px;
    display: none;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__list-item {
    margin-right: 40px;
    display: flex;
}
.header__list-link {
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.header__list-item:hover .header__menu {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    top: 50px;
}
.header__menu {
    display: none;
    align-items: center;
    padding: 24px;
}
.header__menu-title {
    margin-right: 30px;
}
.header__menu-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__menu-link {
    color: gray;
}
.header__menu-link:hover {
    color: $red;
}
.default__btn {
    border-radius: 6px;
    border: 2px solid white;
    background-color: $blue;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--red {
  background-color: $red;
  color: white;
  border: 0;
  padding: 12px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 17px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.default__btn--blue {
    background-color: $blue;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.default__btn--blue:hover {
    background-color: black;
}
.default__btn--black {
    color: $blue;
    border: 1px solid $blue;
    background-color: white;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}
.default__btn:hover {
    background-color: white;
    color: $blue;
    border: 1px solid $blue;
}
.default__btn--red:hover {
    background-color: $red;
    color: white;
    opacity: 0.9;
}
.default__btn--black:hover {
    color: $wht;
    border: 1px solid $wht;
    background-color: $blue;
}   
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.home {
    background-image: linear-gradient(#0d1b48d0, #0d1b48d0), url(../img/team-hero.jpg);
    background-position: center;
    padding-top: 100px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.home__title {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.home__link {
    font-size: 18px;
    margin-right: 20px;
    color: white;
    margin-top: 10px;
}
.home__text {
    max-width: 700px;
    text-align: center;
    line-height: 2;
    font-size: 20px;
    color: rgb(197, 195, 195);
}
.home__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.about {
    padding-top: 60px;
}
.about__inner {
    display: flex;
    justify-content: center;
}
.about__block--lg {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    margin-right: 30px;
}
.about__block {
    width: 100%;
    max-width: 350px;
}
.about__link {
    margin-right: 20px;
    padding-bottom: 10px;
}
.about__gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about__gallery-img {
    width: 100%;
    border-radius: 6px;
    max-width: 220px;
    margin-top: 20px;
    margin-right: 20px;
}
.about__block-text {
    margin-top: 24px;
    line-height: 1.7;
    color: $blue;
}
.about__block-inner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.about__block-card {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 20px;
    text-align: center;
    max-width: 180px;
    color: $blue;
}
.about__block-card-icon {
    color: $red;
    font-size: 30px;
    margin-bottom: 10px;
}
.about__block-header {
    background-color: #f5fef9;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
    color: $blue;
    border: 1px solid gainsboro;
    margin-bottom: 20px;
}
.about__block-header-title--sm {
    font-size: 14px;
}
.about__block-inner-btn {
    border: 1px solid gainsboro;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.about__block-btn {
    width: 100%;
    margin-left: 0;
}
.about__bock-user {
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 22px;
    color: $blue;
}
.about__block-user-img {
    width: 100%;
    max-width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about__block-form {
    width: 100%;
    border: 1px solid gainsboro;
    padding: 20px;
    margin-top: 24px;
    border-radius: 6px;
}
.about__form-inp {
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gainsboro;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    width: 90%;
    margin-bottom: 18px;
}
.about__form-label {
    color: $blue;
    font-weight: 600;
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
}
.about__form-inner-inp {
    display: flex;
    align-items: center;
    width: 95%;
}
.about__form-inp-btn {
    padding: 10px;
    font-size: 19px;
    border-right: 0;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid gainsboro;
    color: $blue;
    background-color: white;
    margin-bottom: 18px;
}
.about__form-btn {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
.contact {
    background-color: #f5fef9;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact__inner {
    background-color: #f5f9fe;
}
.contact__inner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f5f9fe;
}
.contact__card {
    width: 100%;
    max-width: 350px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    margin-right: 24px;
    margin-top: 25px;
    background-color: white;
}
.contact__card-img {
    width: 100%;
}
.contact__card-footer {
    background-color: #f5f9fe;
    border-top: 1px solid gainsboro;
    margin-top: 20px;
}
.contact__inner {
    background-color: #f5fef5;
}
.contact__title {
    margin-top: 60px;
}
.footer {
    background-color: $blue;
    color: white;
    padding-bottom: 80px;
    padding-top: 60px;
}
.footer__logo {
    max-width: 150px;
    width: 100%;
    margin-right: 40px;
}
.footer__btn {
    display: flex;
    background-color: white;
    border-radius: 6px;
    border: 0;
    color: $blue;
    margin-bottom: 15px;
    width: 300px;
    margin-right: 15px;
}
.footer__btn:hover {
    opacity: 0.8;
}
.footer__btn-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue;
    font-family: 'Poppins', sans-serif;
}
.footer__btn-icon {
    font-size: 40px;
    margin-right: 10px;
}
.footer__btn-text--lg {
    font-size: 16px;
    white-space: nowrap;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 2;
}
.footer__text {
    max-width: 280px;
    line-height: 2;
}
.footer__list-item {
    color: white;
}
.footer__list-item:hover {
    color: $red;
}
.footer__footer {
    text-align: center;
    margin-top: 40px;
}
.footer__inner-btn {
    display: flex;
}
.home__logo--sm {
    max-width: 30px;
    margin-top: 80px;
}
